@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body
{
    background-image: url("https://source.unsplash.com/1620x900/?landscape"); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* *
{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
} */

.nav_links li {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* input.search-bar
{
    border:none;
    outline:none;
    padding:0.4em 1em;
    border-radius:24px;
    background:#000000b6;
    color:white;
    font-family:inherit;
    font-size:105%;
    width:calc(100% - 100px);
    width:30vw;
    height: 6vh; 
} */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
  }

input .placeholder
{
    color: white;
}

.dadLogo
{
    background-image: url('../images/The\ Weather\ Dad-logos_white.png');
    background-size: cover;
    height: 40vh;
}

.navbar-toggler {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 5vw !important;
    height: 5vh !important;
    cursor: pointer;
  }

  /* The point of this tutorial is here */
.nav-item input{
    border:none;
    outline:none;
    padding:0.4em 1em;
    border-radius:24px;
    background:#000000b6;
    color:white;
    font-family:inherit;
    font-size:105%;
    width:calc(100% - 100px);
    width:30vw;
    height: 6vh; 
  }

/* The point of this tutorial is here */
.nav-item{
    display: flex;
    flex-direction: row;
  } 
  .search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -70px;
  }
  
  .search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

 .card
  {
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
  }

  .textAlign
  {
    text-align: left;
  }

  .mtCustom
  {
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
  }

  p
  {
      font-size: 30px;
      font-family: 'Open Sans', sans-serif;
  }
  h1
  {
      font-size: 60px;
      font-family: 'Open Sans', sans-serif;
      font-weight:bolder;
  }
  h3
  {
    font-family: 'Open Sans', sans-serif;
  }

  .mrMoveCloud
  {
      margin-right: 140px;
  }

  .mrMoveAddFavorite
  {
      margin-right: 150px;
  }

  .mrCards
  {
      margin-left: 164px;
  }

  .mright
  {
    margin-right: 120px;
  }

  h5{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
  }

   /* .switch {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 40px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider, .slider1 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    height: 38px;
    content: "Hourly";
    width: 112px;
    left: 1px;
    bottom: 2.8px;
    background-color: #FFD800;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider{
    background-color: #008cff;
  }

  input:checked + .slider:after 
  {
    content: "Daily";
  }
  
  input:focus + .slider,   input:focus + .slider1 {
    box-shadow: 0 0 1px #e17800;
  }
  
  input:checked + .slider:before,  input:checked + .slider1:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  

  .slider.round , .slider1.round {
    border-radius: 34px;
  }
  
  .slider.round:before,   .slider1.round:before {
    padding: 0.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
  } */

  .switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFD800;
    -webkit-transition: .4s;
    transition: .4s;
     border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 25px;
    left: 1px;
    bottom: 2px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #07ffff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(93px);
  }
  
  /*------ ADDED CSS ---------*/
  .slider:after
  {
   content:'Hourly';
   color: black;
   display: block;
   position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 55%;
   font-size: 14px;
   font-family: Verdana, sans-serif;
  }
  
  input:checked + .slider:after
  {  
    content:'Daily';
  }
  
  /*--------- END --------*/


  .black 
  {
    color: black;
  }

  .CanvasBg
  {
    background-color: rgba(0, 0, 0, 0.61);
    color: white;
  }

  
  * {
    box-sizing: border-box;
  }
  
  /* Style the list (remove margins and bullets, etc) */
  .favoritesStored {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Style the list items */
  .favoritesStored li {
    border: 1px solid rgba(255, 255, 255, 0.719);
    margin-top: -1px; /* Prevent double borders */
    background-color: #5a53539f;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
  }
  
  /* Add a light grey background color on hover */
  .favoritesStored li:hover {
    background-color: rgb(17, 134, 212);
  }
  
  /* Style the close button (span) */
  .close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
  }
  
  .close:hover {background: rgb(255, 0, 0);}

  .padding
  {
    padding: 27px;
  }
  .btn-close
  {
    opacity: 1;
  }

  .createButton
  {
    background-image: url("../images/Icon\ awesome-heart.png");
    height: 46px;
    width: 59px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* margin-left: 80px !important; */
  }


  .createButton2
  {
    background-image: url("../images/Icon awesome-heartRed.png");
    height: 46px;
    width: 59px;
    background-size: cover;
    /* margin-left: 80px !important; */
  }

.moveLeft
{
  margin-left: 20px;
}
