@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body
{
    background-image: url('../images/henning-witzel-ukvgqriuOgo-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* *
{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
} */

.nav_links li {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* input.search-bar
{
    border:none;
    outline:none;
    padding:0.4em 1em;
    border-radius:24px;
    background:#000000b6;
    color:white;
    font-family:inherit;
    font-size:105%;
    width:calc(100% - 100px);
    width:30vw;
    height: 6vh; 
} */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
  }

input .placeholder
{
    color: white;
}

.dadLogo
{
    background-image: url('../images/The\ Weather\ Dad-logos_white.png');
    background-size: cover;
    height: 40vh;
}

.navbar-toggler {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 5vw !important;
    height: 5vh !important;
    cursor: pointer;
  }

  /* The point of this tutorial is here */
.nav-item input{
    border:none;
    outline:none;
    padding:0.4em 1em;
    border-radius:24px;
    background:#000000b6;
    color:white;
    font-family:inherit;
    font-size:105%;
    width:calc(100% - 100px);
    width:30vw;
    height: 6vh; 
  }

/* The point of this tutorial is here */
.nav-item{
    display: flex;
    flex-direction: row;
  } 
  .search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -70px;
  }
  
  .search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

 .card
  {
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
  }

  .textAlign
  {
    text-align: left;
  }

  .mtCustom
  {
    margin-top: 60px;
  }

  p
  {
      font-size: 30px;
      font-family: 'Open Sans', sans-serif;
  }
  h1
  {
      font-size: 60px;
      font-family: 'Open Sans', sans-serif;
      font-weight:bolder;
  }
  h3
  {
    font-family: 'Open Sans', sans-serif;
  }

  .mrMoveCloud
  {
      margin-right: 140px;
  }

  .mrMoveAddFavorite
  {
      margin-right: 140px;
  }

  .mrCards
  {
      margin-left: 225px;
  }

  .offCanvasBg
  {
      background-color: rgb(255, 255, 255);
  }